@import './main/main_content.css';
@import './animations/flip_card.css';
@import './layouts/quotation/quotation_in_flip_card.css';

.img_einsten_tongue{
    width:100%;
    height:auto;
}

.p{
    display: inline-block;
    width:20%;
    transition:.5s;
}

.about-img-container {

    width:50%;
    display: inline-block;
    vertical-align: top;
    transition:1s;
}

@media(max-width:1600px){
    .p{
        display: block;
        width:100%;
    }
    .about-img-container {
        min-width: 600px;
        width:70%;
        display: block;

        transition: 0s;
    }
}

/*@media(max-width:1599px){*/

    /*.about-img-container {*/
        /*transition: 0s;*/
    /*}*/
/*}*/

@media(max-width:1000px){

    .about-img-container {
        min-width: 0;
        width:100%;
        max-width: 600px;
        display: block;
    }
}