@import './main_content.css';

.article{
    width: 500px;
    float:left;
    margin-bottom: 15px;
}

.aside{
    position:fixed;
    right:20px;
    background: #e1ffc7;
    min-height: 500px;
    min-width: 200px;
    padding:10px
}

.aside_title{
    text-align: center;
}

.aside li{
    text-align:center;
}
