@import 'main_content.css';

.fieldset{
    border-width: 0;
    border-style: none;
    border-color: transparent;
}

.fieldset .label{
    display: inline-block;
    width:150px;
}

.fieldset .input-text, .fieldset .textarea{
    width:400px;
}


.main_section .button{
    float:right;
    position: relative;
    top:50px;
    height:50px;
    border-radius:20px;
    background: #cdcdcd;
}

.main_section .button:hover{
    background-color: #e1e1e1;
}

.main_section .button:active{
    background: #3678ff;
    color: #fff;

}

.main_section .button:focus{
    outline:none;
    border:2px #4d82ff solid;
    box-shadow:5px 5px 10px #4d82ff;
}

.form{
    width:60%;
    margin:0 auto;
}

.text-area{
    display: inline-block;
}

