@import 'main/main.css';
@import './layouts/figures/figure_in_gallery.css';

.photo-gallery{
    margin:0 auto;
    text-align:center;
}
.photo-gallery .ul .li{
    display:inline;
    font-size:1.7rem;
}
