@import './main_content.css';

.god_rolls_dices{
    font-size: 20px;
}

.figure{
    background: beige;
    margin-left: 15%;
    margin-right: 15%;
    padding-left:15%;
    padding-right:15%;
    padding-top:15px;
    padding-bottom:15px;
    /*width: 500px;*/
}