@import './main_content.css';
@import './figures/figure_in_article.css';

.main_photo{
    width:100%;
    height:auto;
}



.article-title{
    font-size:3rem;
    text-align: center;
    margin-bottom:2rem;
}

.article-p{
    margin:0;
}


