@import './main_content.css';

.main_photo{
    width:100%;
    height:auto;
}

.figure{
    float:right;
    max-width:700px;
    margin:0 1em;
}

.article-title{
    font-size:3rem;
    text-align: center;
    margin-bottom:2rem;
}

.article-p{
    margin:0;
}


@media (max-width:1270px){
    .figure{
        max-width: 500px;
    }
}

@media (max-width:950px){
    .figure{
        max-width: 100%;
        width:100%;
        margin:1rem auto;
    }
}