@import './resets.css';
@import './utils.css';
@import './main_navigation.css';
@import './figures.css';

.main_title{
    text-align:center;
    font-size:45px;
    color: #55a9ff;
}

.main_section {
    background: #f3f5d7;
    width: 80%;
    margin: 0 auto 130px;
    padding: 2rem;
    box-sizing: border-box;
}

.container{
    min-height:100%;
    width:100%;
    position:absolute;
}

.footer{
    position:absolute;
    bottom:0;
    left:0;
    min-height: 100px;
    background: #303030;
    color:#fff;
    width:100%;
    text-align: center;
    font-size:1.8rem;
}

.quotation{
    font-size:30px;
    text-align: center;
}

.quotation .cite{
    font-size: 20px;
}




