.main_navigation .ul{
    list-style-type: none;
    width: 100%;
    display: inline-block;
    text-align: center;
}


.main_navigation .ul .li{

    display:inline;
    margin:0 40px;
    font-size:30px;
    text-align: center;

}

.main_navigation{
    margin:0 auto;
}

@media (max-width: 940px){
    .main_navigation{
        width:470px;

    }
}

@media (max-width:470px){
    .main_navigation{
        width:321px;
    }
}

@media (max-width:310px){
    .main_navigation{
        width:100%;
    }

    .main_navigation .ul .li{

        display:block;

    }
}
