.main_title{
    margin-left: 40%;
    font-size:45px;
    color: #55a9ff;
}

.main{
    background: beige;
    margin-left: 15%;
    margin-right: 15%;
    padding-left:15%;
    padding-right:15%;
    padding-top:15px;
    padding-bottom:15px;
}

.footer{
    margin-top:15px;
    margin-bottom:15px;
    margin-left:30%;
    margin-right:30%;
    clear:both;
}

.quotation{
    font-size:30px;
}

.quotation cite{
    font-size: 20px;
}