@import './main_content.css';

.table {
    display: table;
    max-width: 800px;
    width: 80%;
    border: 2px solid black;
    border-bottom: 0;
    margin-top: 1.5em;

    transition:1s;
}

.heading {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    border-bottom: 2px solid black;
    padding-left: .5rem;
    padding-right: .5rem;

    transition:1s;
}

.cell.cell-name {
    border-right: 2px solid black;
}

.cell.cell-row-header {
    display: none;
    border-width: 0;
}



@media (max-width: 825px) {
    .table {
        width: 100%;
        border-width: 0;
    }

    .figure .img {
        width: 100%;
    }

    .heading, .heading > .cell {
        display: none;
        border-width: 0;
    }

    .row {
        border-width: 0;
    }

    .cell {
        display: block;
        text-align: center;
        border-width: 0;
        background-color: #89c0ef;
        padding: 0.5rem;

    }

    .cell.cell-row-header {
        background-color: #d9cbd7;
        display: block;
        padding: 0.5rem;
        box-sizing: border-box;
        text-align: center;
    }

    .cell-year {
        margin-bottom: 1rem;
    }

    .cell.cell-name {
        border-right: 0;
    }
}

