.main_title{
    text-align:center;
    font-size:45px;
    color: #55a9ff;
    background-color:rgba(255,255,255,.85);
    text-transform: lowercase;
}

.main_title:first-letter{
    text-transform: uppercase;
}