.fieldset{
    border-width: 0;
    border-style: none;
    border-color: transparent;

}

.contact-form .button{
    border-radius:20px;
    background: #cdcdcd;
}

.contact-form .button:hover{
    background-color: #e1e1e1;
}

.contact-form .button:active{
    background: #3678ff;
    color: #fff;

}

.contact-form .button:focus{
    border:2px #4d82ff solid;
    box-shadow:5px 5px 10px #4d82ff;
}