.main_navigation .ul{
    list-style-type: none;
    width: 100%;
    display: inline-block;
}


.main_navigation .ul .li{
    display:inline;
    margin:0 1rem;
    box-sizing: border-box;
}
.main_navigation .ul .li a{
    padding:0.8rem;
}

.main_navigation{
    margin:1rem auto 0;
}

@media (min-width:521px)and (max-width: 940px){
    .main_navigation{
        width:520px;
    }
}

@media (max-width:520px){
    .main_navigation{
        width:360px;
    }
}

@media (max-width:310px){
    .main_navigation{
        width:100%;
    }

    .main_navigation .ul .li{
        display:block;
    }
}
