.container{
    animation-name: loadanim;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
}

@keyframes loadanim {
    0%{transform: scale(0) rotate(720deg)}
    80%{transform: scale(0.5) rotate(0deg)}
    100%{transform: scale(1) }
}
