@import '../base_rules/resets.css';
@import '../utils/utils.css';
@import './main_navigation.css';
@import '../layouts/figures/figures.css';
@import './main_title.css';
@import './main_section.css';
@import '../layouts/container.css';
@import 'footer.css';
@import 'quotation.css';


video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}


