@import '../base_rules/resets.css';
@import '../utils/utils.css';
@import './main_navigation.css';
@import '../layouts/figures/figures.css';
@import './main_title.css';
@import './main_section.css';
@import '../layouts/container.css';
@import 'footer.css';
@import 'quotation.css';


video#bgvid {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
}

.container{
    animation-name: loadanim;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.4s;
}

@keyframes loadanim {
    0%{transform: scale(0) rotate(720deg)}
    80%{transform: scale(0.5) rotate(0deg)}
    100%{transform: scale(1) }
}



